<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" >
    <h:head>
        <title>PrimeFaces Test</title>
    </h:head>
    <h:body>
        <p:contentFlow value="#{imagesView.imagebeans}" var="image">
            <p:graphicImage value="image/#{image.imageName}" styleClass="content" />
            <div class="caption">#{image.bookTitle}</div>
        </p:contentFlow>
    </h:body>
</html>

